# Root
.DS_Store
Thumbs.db

# Build directories
build/
**/build/
cmake-build-*/

# Compiled binaries
**/device_daemon
xmrig/build/xmrig

# Debian packaging artifacts
*.deb
*.buildinfo
*.changes
.debhelper/
**/debian/.debhelper/
**/debian/*dbgsym*

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# Logs and temp
*.log
*.tmp
